.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.center-screen {
    padding: 2em;
    /* background-image: url(./moon-and-earth.jpg); */
}

.statHolder {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #282c34;
    width: 20vw;
    position: relative;
}

.statsCard {
    height: 100%;
}

.shopAcc {
    height: 50%;
    flex-grow: 1;
}

.eventLog {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 20em;
}

.loginFields {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signUpFields {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landingPage {
    background: url(./login-background.jpg) no-repeat center center fixed;
    background-size: cover;
}
